[2016-08-03 10:18] adrianlop opened #4 "Increase slave count instead of queuing jobs"
Hi Ivo,
First of all, thanks for plugin v0.2, new params work like a charm.

I would like to have several slaves building jenkins jobs, but now they only queue up and wait until the slave is free.
I found a workaround, which is adding a few templates with different tags, but I think it could be improved using Nomad group param `count = N` for dynamically spinning slave allocations in Nomad.

Also,

[2016-08-08 05:50] iverberk commented on #4
Hi @adrianlop, Jenkins determines how many slaves are being used to handle the job queue. How do you see the ```count = N``` parameter working here? I'll look into the executors but I think this is possible for sure.

[2016-08-08 08:22] adrianlop commented on #4
Hi, the number of executors inside the slave is 1 (and it cannot be changed, Jenkins will throw an exception)
![image](https://cloud.githubusercontent.com/assets/2879742/17473398/978aa32c-5d50-11e6-9a8f-38d9c968c87f.png)

Nomad job count = 1,
![image](https://cloud.githubusercontent.com/assets/2879742/17473652/e318fafe-5d51-11e6-8390-efae04369260.png)
and it won't increase by itself. I'm queuing 4

[2016-08-08 10:58] antweiss commented on #4
Yep, the question here is how Jenkins decides when it's time to try provisioning a new slave.
Need to look more into this.
 Ivo, any insights?

[2016-08-08 11:04] iverberk commented on #4
It's a mystery to me actually. I have never been quite able to find out how this works internally. It does use some kind of balancing algorithm too not spin up too many nodes. I'll try to find out more. We probably need to be able to set the number of executors. I'll look into the error. I don't think the nomad count setting will help much here. It would only start two (or more) nodes at the same

[2016-08-09 09:53] antweiss commented on #4
I agree. Setting the number of executors should be easy to do and could be useful in certain scenarios, while spinning up more than one node at a time seems counterinituitive.

[2016-08-10 10:52] antweiss commented on #4
Looks like this is something we need to implement for faster node bringup: https://github.com/KostyaSha/yet-another-docker-plugin/blob/master/yet-another-docker-plugin/src/main/java/com/github/kostyasha/yad/DockerProvisioningStrategy.java

[2016-08-10 10:56] iverberk commented on #4
Ah interesting, I'll take a look at it and see if we can adopt it. If you have a PR that would be even better ;-) Thanks!

[2016-08-10 11:00] antweiss commented on #4
No PR yet :) I hope to have time to try this early next week. Let's keep in sync so we don't duplicate efforts on this.

[2016-08-24 22:40] far-blue opened #8 "Some pointers with the docker image option"
hello :)

great to see this jenkins plugin!

One thing I'm confused about is what would need to be in a docker image being launched as a slave. Currently I have an image with the jenkins swarm slave jar - is this what is needed here as well? Or do I need to bundle something different?

[2016-08-25 07:01] iverberk commented on #8
Hi @far-blue,

The only thing you would need in a docker image is Java. The plugin will automatically inject the correct slave.jar and run it with the correct parameters to connect back to the Jenkins master, easy :-)

[2016-08-25 08:21] far-blue commented on #8
Hmm, interesting. I'm not sure that would work for me, though, as my current container is 'fat' - it has a local copy of MySQL as well so each build has an isolated database it can use for unit tests. I assume if the image is run by copying the slave jar artefact into the /local space and then executed as the 'entrypoint' on the container then the normal running of supervisord to co-ordinate the s

[2016-08-25 08:28] iverberk commented on #8
Ah, yeah that would bypass/override your entrypoint with supervisord. Let me think about this. Is there any way for you to just start the mysql instance as part of the test? So before your run the unit-tests you run a bash script or something like that to fire up the mysql service.

[2016-08-25 08:30] far-blue commented on #8
Possibly, yes, although there might be issues with running mysql as the test user. More importantly, though, is that would require a change in build behaviour depending on whether the build was running on master or a static slave or a dynamic slave which I'd prefer not to do. It would also mean updating about 120 projects ;)

[2016-08-25 08:32] iverberk commented on #8
I understand, was just thinking about possible solutions. Let me think if we can allow containers to just manage themselves and connect to the master on startup. I think it should be feasible.

[2016-08-25 08:43] antweiss commented on #8
@far-blue Currently you can start the mysql instance with the prefix command option and let the plugin execute the slave jar.
@iverberk I was also thinking of adding an SSH slave option. your thoughts?

[2016-08-25 09:06] far-blue commented on #8
@antweiss I don't know anything about a prefix command option - it isn't mentioned in the docs for the nomad plugin. Where would I find more info on it?

[2016-08-25 09:17] antweiss commented on #8
Hmm, right, I forgot it hasn't been released yet. It's smoething we've added in the last couple of weeks. This allows you to prepend a command (or a sequence of commands separated by semicolons) to slave.jar invocation. Like: `bash -c '<your_cmd_here>; java -jar /local/slave.jar ....`
More or less as the prefix command in regular Jenkins ssh slaves.

[2016-08-25 09:18] iverberk commented on #8
@antweiss let's create another release today after merging #6

[2016-08-25 09:20] antweiss commented on #8
@iverberk with great pleasure :)

[2016-08-25 09:20] far-blue commented on #8
Ah, cool, yes, that would work :)

[2016-08-26 07:54] iverberk commented on #8
@far-blue version 0.3 of the plugin was released yesterday and the Wiki has been updated to reflect the changes (https://wiki.jenkins-ci.org/display/JENKINS/Nomad+Plugin). Let me know if this solves your issue.

[2016-08-26 13:31] far-blue commented on #8
I've had a good play and managed to get mysql running alongside the java jenkins slave etc. so from that perspective the new prefix command stuff works well :)

However, I was concerned about permissions and preferred keeping mysql running as its own user and I wasn't so keen on using sudo to manage this.

While investigating, I realised that only the 'CMD' for a docker container was being configu

[2016-08-26 13:37] far-blue opened #9 "Keep a minimum number of slaves ready at all times"
I really like the idea of on-demand slaves but I'd like to suggest the ability to keep a minimal number of slaves ready at all times rather that dropping back to none. There are times when we have lots of builds going through but there are also times when we might have only 10 builds in a day. For those quieter days it would be nice to have 1 or 2 slaves available rather than spinning up and then

[2016-08-29 11:04] antweiss commented on #9
Thanks @far-blue - it's an interesting idea. So as a user you'd like to able to define a constant pool of online cloud-provisioned nodes per each Nomad slave template. Let me ask you - why is slave spin-up an issue? In my expirience it takes ~20 seconds to spin up a new docker slave on Nomad. Isn't this acceptable for your use case? Or do you see longer times?

[2016-08-30 14:38] far-blue commented on #9
We have a few very short jobs such as triggering Job DSL script reruns which happen when we create branches in repos which is quite often as we branch for every story. Also, the proper build jobs have a cache of external components - composer, npm, bower etc. - which (because Nomad can't do state yet) are effectively wiped when a node is destroyed. Keeping a small number of nodes around just helps

[2016-08-30 16:06] far-blue opened #10 "'Utilize as much as possible' not behaving as expected"
Maybe I've mis-understood something but I set the nomad-cloud config to 'Utilize as much as possible' and scaled back my normal slave nodes to minimum but jobs were simply queueing rather than new nomad-cloud nodes spinning up. Any idea how to fix this? It works when I restrict where a build can run to just the nomad cloud but I'd prefer not to do that.

[2016-08-30 21:30] adrianlop commented on #9
a workarround: try increasing slave idle time for this use case.

[2016-08-31 07:49] antweiss commented on #10
@far-blue  - that's pretty easy - just leave the label definition on your Nomad slave template empty, or use the same label you're using for rest of the slaves.

[2016-08-31 22:16] far-blue commented on #10
thanks for the help - I'd never have thought of leaving the labels empty :) With 'swarm' slaves the existence of a label doesn't prevent jobs being allocated. Got it all working nicely now with a mix of on-demand and static slaves (swarm slaves, still managed through Nomad).

[2016-08-31 22:16] #10 closed

[2016-08-31 22:17] far-blue commented on #9
For the moment I have a small number of 'swarm' slaves managed as a service job in Nomad which are always available. I've also increased the on-demand slaved to 30mins idle before cleanup. Would be nice to have management in one place though :)

[2016-09-01 08:05] antweiss commented on #8
@far-blue thanks for sharing - that's an interesting approach too. I'm closing the issue as you have a solution.

[2016-09-01 08:05] #8 closed

[2016-09-01 08:06] #4 closed

[2016-11-25 09:59] far-blue opened #11 "Fails with Nomad 0.5 - most likely due to changes in the disk requirement config"
Nomad 0.5.0 moves disk size requirement specification out of the task and into a new 'ephemeral_disk' element on the task group. This means jobs submitted by the jenkins nomad plugin are invalid and fail.

[2016-11-28 23:25] cprenzberg commented on #11
Seeing the same issue

[2016-11-28 23:31] cprenzberg opened #12 "Supporting Swarm Slaves"
Hey it would be great if this plugin also supported spinning up jenkins swarm slaves: https://wiki.jenkins-ci.org/display/JENKINS/Swarm+Plugin. What do you think?

[2016-12-08 09:55] far-blue commented on #12
I think the point of Swarm slaves is that they are started out-of-band and register themselves with Jenkins. This plugin is all about Jenkins itself spinning up slaves so the key reason for Swarm is lost. You can easily spin up Swarm slaves directly in Nomad using a standard job (as I do) and it works very well. The advantage of this plugin is the dynamic allocation of slaves based on load. I actu

[2017-01-25 07:48] gabordugov opened #15 "Support nomad constraints"
Hey it would be great if this plugin also supports nomad constraints https://www.nomadproject.io/docs/job-specification/constraint.html . It will allow to restrict list of nodes where jenkins slave can be launched.  For example, if nomad manages Linux and Windows nodes at the same time and we want to launch Jenkins slave in docker container built for Linux, it will be necessary to avoid launching

[2017-01-30 14:52] antweiss commented on #15
I agree this would be a welcome addition - we currently have an issue with some very resource-heavy jobs that we would only want to send to specific nodes (those with more horsepower). I'll see if  can look into this but don't expect this to be fast.

[2017-01-30 14:53] antweiss commented on #11
Fixed in release 0.4

[2017-01-30 14:53] #11 closed

[2017-02-28 09:25] pawbur opened #16 "Bug in Nomad causing allocations history to grow for ever."
Hi,

This is not a real bug in nomad-plugin but an information that might be helpful for someone.

There is a bug in Nomad that id doesn't GC 'batch' jobs that have been stopped:
https://github.com/hashicorp/nomad/commit/9ef3b6a#diff-24d8e009cefba6873759e3745dbf5914R195

This is causing allocations history to never get GCed. This caused nomad to constantly increase amount of writes to raft.db. For

[2017-03-01 10:10] lucalandi commented on #15
This would be a really useful feature. I would be more than happy to contribute.

[2017-03-01 10:13] jippi commented on #15
@lucalandi amazing ! :)

[2017-03-16 05:01] scarvel8 commented on #15
I have just opened a pull request that adds this functionality: https://github.com/jenkinsci/nomad-plugin/pull/17

[2017-03-23 22:48] pvandervelde commented on #12
The benefit of using the swarm slave plugin is that it works well on Windows machines. Now that Windows Containers is supported by Docker we could potentially use Nomad and the Nomad plugin to handle the creation of build agents on both Linux and Windows. So what we're concerned having the swarm slaves plugin be supported would be awesome.

[2017-03-23 23:33] pvandervelde opened #18 "Support windows slaves"
We would love to use the Nomad plugin to schedule agents in Windows Containers, however it looks like the current code only allows scheduling agents on Linux given that it uses Bash to start the slaves.

[2017-03-24 19:39] scarvel8 commented on #18
@pvandervelde Try using a newer version of the Nomad plugin, it works for me with Windows containers. https://jenkins.ci.cloudbees.com/job/plugins/job/nomad-plugin/2/org.jenkins-ci.plugins$nomad/

[2017-03-24 20:46] pvandervelde commented on #18
Sweet I shall test as soon as we've got it set up!

[2017-03-29 08:44] far-blue commented on #12
Swarm and Cloud slaves in Jenkins are really very different concepts. Cloud slaves are managed by Jenkins and it can scale them up and down. Swarm slaves invert this and Jenkins is simply informed the slave is available. If you want to use Swarm slaves I'd suggest simply having a script external to Jenkins that queries the API to check on current load and then scales the Nomad job up and down.

[2017-03-29 08:57] pvandervelde commented on #12
Ok we'll try to use the nomad slaves and will see if that works. If not we'll go with the external service

[2017-04-08 17:28] jippi commented on #12
closing as it doesn't seem relevant to the project at this time

please reopen if anyone disagree

[2017-04-08 17:28] #12 closed

[2017-04-08 17:29] jippi commented on #18
Can this issue be closed?

[2017-04-08 17:29] jippi commented on #16
This has been fixed in upstream nomad, thus closing :)

[2017-04-08 17:29] #16 closed

[2017-04-08 22:42] pvandervelde commented on #18
Yeah close it for now. Will reopen if it doesn't work. We're still working on our configuration / environment.

[2017-04-10 07:08] #18 closed

[2017-07-24 11:20] multani opened #20 "RFC: job-specific workers configuration"
Disclaimer: I'm not sure where to ask this, hopefully that's the right place.

We are currently using Jenkins like the following:

* we have a Docker image, containing lot of development tools, built to act as a Jenkins worker
* our jobs are using ``Jenkinsfile``-based configuration
* they declare something like:
[code]
* they expect there's a ``nomad-4GB`` Nomad slave template configured, with th

[2017-07-24 11:47] jippi commented on #20
That would be pretty cool!

I'm probably going to add a template text area with a full job spec - and maybe rework it to support task groups rather than separate jobs per slave, since i want to be able to specify constraints like only one slave per instance - something that isn't possible with the current setup

[2017-07-24 12:47] multani commented on #20
On Mon, Jul 24, 2017, at 13:47, Christian Winther wrote:

That could be cool, if I can find if/how a plugin can plug into the node() call, maybe injecting variables into the full job spec would be good enough for my use case.

You mean: you want to have a single job instance in Nomad for Jenkins jobs, but a new build scheduled in Jenkins would create a new task group in the job?

[2017-07-24 12:49] multani commented on #20
On Mon, Jul 24, 2017, at 13:47, Christian Winther wrote:

If you know any prior art, I'd be interested to have a look :D

[2017-07-24 14:41] jippi commented on #20
Yep :)

[2017-07-24 14:48] multani commented on #20
On Mon, Jul 24, 2017, at 16:41, Christian Winther wrote:

Can't wait for it :p

[2017-07-24 15:32] jippi commented on #20
I don't, never done any kind of Jenkins code before, and been years since i've done Java, it's a miracle the local changes I've done at $job didn't blew up everything :P

[2017-07-26 11:51] multani commented on #20
The Kubernetes plugin is doing something similar in this field: https://github.com/jenkinsci/kubernetes-plugin/blob/master/README.md

I especially like [that example](https://github.com/jenkinsci/kubernetes-plugin/blob/master/examples/declarative.groovy), it's very similar to what I had in mind.

[2017-08-17 13:55] antweiss commented on #20
Exactly. Just wanted to mention the Kubernetes plugin. I agree this would provide much more flexibility. And the current way of manually managing multiple slave templates sucks.  Wish I had time to look into implementing this but I don't see a chance of touching the Nomad plugin any time soon. Maybe worth trying to get some Hashicorp folks on board.

[2017-08-17 14:59] jippi commented on #20
I've gone away from using the jenkins nomad plugin and just gone with a [simple nomad job](https://gist.github.com/jippi/f6284e68cadb7e7b1ecacdc48ff9cd72) and in my case, 3 static and persistent jenkins slaves configured

The name of the slaves follow the pattern `slave-$index` where `$index` is `$NOMAD_ALLOC_INDEX` in the job spec.

It's way more reliable, and Jenkins is fine with a node coming a

[2017-09-05 23:00] michaelw commented on #20
@jippi, what were the reliability issues that you were seeing with the plugin?

(FWIW, I can schedule jobs with a standalone jobs similar to yours, but doing it via the nomad plugin seems to fail (Jenkins 2.77-alpine container), without any kind of log, except "This agent is offline because Jenkins failed to launch the agent process on it".)

[2017-09-20 08:00] zstyblik opened #21 "SSH auth support with Docker driver"
Hello,

my apologies, but it's unclear to me whether SSH authentication is or isn't supported for Jenkins slaves when Docker driver is used.

Thank you.

[2017-09-20 08:07] zstyblik opened #22 "Exception raised when no datacenter is given"
Hello,

I'm not sure whether it's possible or not to return error message to the user rather than crashing with exception. If it is, it would be nice.

When no datacenter is given and datacenter box is left empty, exception is raised. I know (now) that datacenter is mandatory attribute and cannot be empty, but it'd be nice (if possible) to handle this error rather than raising exception.

Thank yo

[2017-09-20 18:29] zstyblik commented on #22
Actually, it seems the above is valid for more than datacenter. And it's rather hard to track down which attribute is mandatory and which isn't(as a matter of fact, it seems all attributes are mandatory).

[2017-10-08 06:57] zstyblik commented on #21
The answer is no, SSH authentication is not supported at the moment. Now that some time has passed, I see it as a nice to have feature which has its pros, easier firewall management, but probably isn't essential. Also, it's possible it would complicate code logic a lot, but I'm unable to say due to inexperience with Java, nomad and Jenkins plugin programming.

[2017-10-09 13:03] zstyblik opened #25 "Limit number of instances per slave"
Hello,

I'm not sure whether it's possible, ideally in nomad itself, but it'd be great if one could limit maximum number of instances for one particular slave node. Maybe this request is simply ... out of your mind ... in nomad world. I know there are resource constrains, but:
* resources aren't unlimited
* jobs have different requirements
* jobs have variable number of instances, eg. "batch job"

[2017-10-09 13:08] multani commented on #25
That's already handled by Nomad and the resources requirements you specify in the job, isn't it?

The only thing which is handled not so nicely right now is jobs with different resources requirements: it requires to create additional "template" in the master's configuration, which is a bit a PITA. That's something that I raised already in #20 though.

[2017-10-09 13:28] zstyblik commented on #25
I'm sorry, but I'm not sure if I follow(also, what master's template?).

If I spawn 20 CI instances, label `ci` where each requires 20GB of RAM and these instances eat all resources, or say 5GB of RAM is left in the cluster. Now comes batch job, label `batch`, with requirement 10GB of RAM, where is going to be executed? I presume it won't and will have to wait. However, if it was possible to limit

[2017-10-11 11:10] zstyblik opened #26 "Allow to specify Java args for Jenkins client"
Hello,

I'm under suspicion that Jenkins Java agent is being killed in Docker Container, although I simply cannot confirm it. This seems to be happening only with one CI job so far(luckily) which runs FB's flow. When executed in unconstrained Docker Container, however via SSH, or in VM, it runs just fine.

I did read a bit and it seems that running Java in Docker Container has its own issues. Ther

[2017-10-11 12:43] zstyblik commented on #26
I have found couple issues which point to this, Java being OOMK, could be the issue.

I have tried variations of command prefix `export MALLOC_ARENA_MAX=4; export JAVA_OPTIONS='-Xms300M -Xmx300M -XX:MaxPermSize=128M -XX:+UnlockExperimentalVMOptions -XX:+UseG1GC'` but to no avail. :(

[2017-10-12 07:31] jovandeginste commented on #25
@zstyblik I'm not sure it is possible to limit the number of instances per slave (host). I expect a global maximum number of instances would be the easiest to implement. If you limit the number of jobs per host on Nomad in general, you just move the goal posts?

[2017-10-12 07:34] jovandeginste commented on #21
@zstyblik What is your use case for SSH authentication?

[2017-10-12 07:35] jovandeginste commented on #15
@jippi any reason not to merge the PR?

[2017-10-12 10:56] zstyblik commented on #21
Actually, since this plugin doesn't support SSH auth, it's none. However, I had to open up firewall and unrestricted access to Jenkins from all nomad hosts. I don't use auth in Jenkins itself. If I did, it might have been a bit different, although eg. `/computer` isn't amongst URIs which shouldn't require auth.
SSH auth simply has its advantages. One of them is that you can have your Jenkins behin

[2017-10-12 10:56] #21 closed

[2017-10-12 11:28] zstyblik commented on #25
This is pretty much implemented by (limit of) resources in nomad cluster. I hope it's not possible to over-provision.

Despite docker plugin does allow you to do that at two levels(number of running containers and then number of instances of given slave), this is not what I would like to have(sorry, I cannot think of better words).

Imagine the following:
* nomad cluster with 10GB of RAM total
* `

[2017-10-12 11:36] jovandeginste commented on #25
That is what I mean, you could implement a sort of "global" maximum of running slaves (per template). Should not be too hard to implement I think.

[2017-10-12 13:05] zstyblik commented on #25
I see that my example was overly simplified (and stupid) in the end. The problem I have is there are Jenkins jobs which are either resource hungry or resource hungry and long running(pretty much true batch jobs). It's ok for them to be queued, because either it's not financially viable to have resources for these jobs at the ready all the time, therefore it's ok to wait a bit.

[2017-10-12 18:05] zstyblik commented on #26
Ok, we've identified that % flow; is to blame for mishaps. I still think this request is valid since Java has no notion it's running in constrained environment. I will try to come up with MR once https://github.com/jenkinsci/nomad-plugin/pull/17, https://github.com/jenkinsci/nomad-plugin/pull/23 and https://github.com/jenkinsci/nomad-plugin/pull/24 are merged.

[2017-10-16 09:18] zstyblik commented on #9
Unfortunately, my experience is somewhat different. And at times, nomad, or something, is taking sweet time to spin up Docker Containers and Jenkins slaves. Originally, I thought this is caused by force pull, but running % docker images; everywhere it doesn't seems so be the problem.

[2017-10-18 13:41] zstyblik commented on #21
You know, maybe I have use-case after all. jNLP is proving to be really troublesome kind. First, there was issue with flow. Ok, that's bug in some kind of application.

Now, I'm getting `org.jenkinsci.remoting.protocol.NetworkLayer.onRecvClosed` and I'm simply unable to run one Android build for no obvious reason. It can be the same issue as with flow, but I honestly doubt it. With another batch j

[2017-10-26 15:22] danlsgiga opened #27 "Latest release nomad-0.5 not available on Jenkins Repository"
When trying to use the [Jenkins Repository URL](https://wiki.jenkins-ci.org/display/JENKINS/Nomad+Plugin), it seems that the latest published version is 0.4.

Any chances to have 0.5 available there?

Other than that, fantastic job and thanks for the work!!

[2017-12-10 14:37] thatsk opened #28 "Support To mount nfs option in prefix command"
Hello Team,
If i want to mount NFS in docker container. If we are integrating nomad with jenkins and container wants the nfs mount which is in previlieged mode. How to do that please suggest i am getting Policy allows no restarts.
If i want to start the conatiner as follows:-
docker run -v /sys/fs/cgroup:/sys/fs/cgroup:ro maci0/systemd

[2017-12-11 19:06] zstyblik commented on #28
Hello @thatsk,

please, see https://github.com/jenkinsci/nomad-plugin/pull/23 which adds support to mount Host volumes. Privileged mode isn't necessary, however NFS volume must be mounted on the Host itself.

[2017-12-12 12:45] thatsk commented on #28
Done thanks for info.

[2017-12-12 12:45] #28 closed

[2017-12-12 14:39] zstyblik commented on #28
Cool. I'm glad you've figured it out together with @jovandeginste and found PR useful :)

[2018-01-04 22:39] jamesdmorgan commented on #15
Looking forward to this addition. Thanks to all those involved

[2018-01-23 17:02] fferguson commented on #27
I second this, i'm not able to get version 0.5 from the Jenkins Repository. I'm guessing an update is still required.

[2018-01-23 18:12] zstyblik commented on #27
You can build the plugin from master branch and deploy it manually.

[2018-02-05 16:50] fferguson opened #30 "Plugin finds second URL"
We have our plugin configured to talk to nomad and itself via different routes.

Nomad URL goes via a public zone
And the Jenkins urls are via private zone (effectively direct to the IP)

![image](https://user-images.githubusercontent.com/26222166/35816893-d210c1f6-0a93-11e8-87c0-1b95b0e41a47.png)

When starting a job Jenkins is able to launch a nomad instance however when that instance then tries

[2018-02-16 17:27] far-blue opened #31 "Support for volume mounts"
It would be great to have support for host mounts. My build slaves do a lot of composer, npm etc. updating and currently the slaves don't have a shared cache. I'd like to be able to mount a known location on the host machine where I can setup the caches for these package managers.

Alternatively, if all the instances were part of a task group I could possibly use the alloc/ space Nomad makes avail

[2018-02-19 11:55] zstyblik commented on #31
Hello,

I believe this feature has been added in https://github.com/jenkinsci/nomad-plugin/commit/046a6fb75cd3db75e87ef64f2c57dcd5837972d5 .

[2018-02-22 22:06] aantono commented on #27
Are there plans to eventually publish it?

[2018-04-19 14:58] thatsk commented on #27
You can just clone this repository.
Just update pom.xml with 0.5 instead of 0.5.0-SNAPSHOT
and run mvn clean package.
You will get your jenkins plugin

[2018-04-19 15:02] thatsk commented on #31
https://github.com/jenkinsci/nomad-plugin/pull/23

[2018-05-03 15:26] phedoreanu commented on #30
I'm facing the same issue @fferguson.

My guess is that is takes the 2nd URL from `Jenkins Location -> Jenkins URL`

[code]
If you would take the 1st address, in my case, it would work! 😖

I'm thinking of adding another config input field like `JENKINS_PRIVATE_IP`.

[2018-05-03 23:02] phedoreanu commented on #30
@jippi @fferguson Please check out #33 😉

[2018-05-07 11:18] phedoreanu commented on #30
Now the logs look much better:
[code]

[2018-05-27 09:35] askoobe opened #35 "slave.jar: "-headless" is not a valid option"
Tried to find somewhere with a solution but to no avail, sorry to ask here but I am stuck. I'd love to get this working, but when a slave starts up (Nomad Java driver) it fails because the -headless argument seems to be not available in newer version of slave.jar. Or am I missing something?

[2018-06-28 17:39] Snergster commented on #27
id also like this officially released through the jenkins repository

[2018-10-14 21:08] multani commented on #20
For those who are following this thread: I've been working on a completely new plugin, inspired (*cough* hacked from *cough*) the [Kubernetes plugin](https://github.com/jenkinsci/kubernetes-plugin), which allows to define the Jenkins workers as Nomad job from a Jenkins pipeline definition.

Basically, it allows to write something like this (simpler things can be written as well):
[code]

It's more

[2018-11-21 19:12] vincenthuynh commented on #15
Built the plugin off master with `mvn install` and uploaded to Jenkins. Had to update pom.xml to match my nomad version but the constraint property works! Thanks @scarvel8 !

[2019-03-05 13:12] multani commented on #20
See https://github.com/multani/nomad-pipeline

[2019-03-05 13:12] #20 closed

[2019-03-07 09:04] multani opened #38 "NomadCloud's private "name" field shadows its public parent and produces NullPointerException in other plugins"
[NomadCloud](https://github.com/jenkinsci/nomad-plugin/blob/master/src/main/java/org/jenkinsci/plugins/nomad/NomadCloud.java#L29) redefines the `name` attribute as a private, whereas [the parent class](https://github.com/jenkinsci/jenkins/blob/master/core/src/main/java/hudson/slaves/Cloud.java#L99) (via `AbastractCloudImpl`) defines it as public.

This creates a situation where:

1. When Jenkins s

[2019-03-25 05:50] peimanja commented on #15
Why the latest plugin available on Jenkins is 0.4? so many commits have already been merged since then.
@vincenthuynh How did you manage to build the plugin? mine keeps failing from master.

[2019-04-04 17:39] aphill70 opened #41 "SECURITY-1058 Patch"
This patch I believe addresses the recent security vulnerability. I would submit a PR but my fork has drifted too much for that.

[0001-This-should-resolve-SECURITY-1058.txt](https://github.com/jenkinsci/nomad-plugin/files/3044765/0001-This-should-resolve-SECURITY-1058.txt)

[2019-04-04 17:58] aphill70 commented on #41
PR Here https://github.com/jenkinsci/nomad-plugin/pull/42/files

[2019-04-05 18:54] #41 closed

[2019-04-08 12:33] phedoreanu commented on #27
https://github.com/jenkinsci/nomad-plugin/releases/tag/v0.5.1 🎉
[code]

[2019-04-08 12:33] #27 closed

[2019-04-08 13:33] #30 closed

[2019-04-08 14:45] phedoreanu commented on #35
You get different arguments depending on how the jar is invoked:
![diff](https://user-images.githubusercontent.com/1611001/55733181-ab89d880-5a1d-11e9-95cf-e4a9ac3ef695.jpg)

[2019-04-08 14:45] #35 closed

[2019-04-08 14:46] #31 closed

[2019-04-10 16:19] phedoreanu commented on #15
Closing as #17 is merged.

[2019-04-10 16:19] #15 closed

[2019-04-10 16:22] phedoreanu commented on #26
@zstyblik all PRs mentioned above are merged. Do you still want to submit your PR or should I close this issue?

[2019-04-24 17:43] phedoreanu commented on #38
@multani please review?

[2019-04-25 12:46] #38 closed

[2019-05-11 15:04] zakk4223 commented on #35
The plugin includes the 'jar_file' parameter to the nomad job, which causes nomad to run it as java -jar slave.jar <arguments>. The plugin also unconditionally includes '-headless' which does not work if you execute the jar file this way. In short, it appears the nomad java driver based slaves are non-functional right now, at least with latest jenkins LTS.

I think if you include "class" key that

[2019-05-29 08:21] peimanja opened #47 "Add support to work with ACL's (Tokens)"
Currently, there is no way to use this plugin if the [ACL](https://www.nomadproject.io/guides/security/acl.html) is enabled on Nomad cluster.

There is already this PR #32 but it's been hanging around for a year now. Support for ACL is much appreciated.

[2019-06-04 17:31] aphill70 commented on #35
It looks like the MR to add support for the tunnel arg messed up the java driver. I will see if i can get a patch for it

[2019-06-04 21:36] aphill70 commented on #35
I think the fix is in this change that once I finish testing will submit against the master branch. It looks like the Java Driver starts differently than the docker driver and the refactor fixing the docker driver added incompatible options to the java driver. https://github.com/aphill70/nomad-plugin/pull/4/files#diff-32076d9aefec62080e5dc98ab12872d0L89

[2019-06-06 08:14] peimanja commented on #47
#48 fixed this

[2019-06-06 08:14] #47 closed

[2019-08-01 20:07] multani opened #54 "Unable to export configuration as code"
I tried a basic Jenkins installation with the Nomad Plugin and the [Configuration as code plugin](https://plugins.jenkins.io/configuration-as-code).

I setup a new "Nomad cloud" with a super basic template as in the screenshot (the other fields are empty):

![image](https://user-images.githubusercontent.com/65311/62323599-f4234100-b4a7-11e9-921a-8b11570ddc08.png)

Then, exporting this configuratio

[2019-08-02 09:55] phedoreanu commented on #54
@multani I use the [SCM Sync configuration plugin](https://wiki.jenkins.io/display/JENKINS/SCM+Sync+configuration+plugin) and it's able to export the whole `config.xml` which contains the Nomad Cloud config:

<img width="622" alt="Screenshot 2019-08-02 11 55 08" src="https://user-images.githubusercontent.com/1611001/62362012-69305e00-b51c-11e9-80c1-0364f22d14d5.png">

[2019-08-02 14:48] multani commented on #54
@phedoreanu That's good to know it works in other cases as well!

SCM Sync seems to be unmaintained and deprecated in favor of "Configuration as code" though, so it might still be worthwhile to have a look at why it goes into this infinite recursive loop.

[2019-08-02 14:56] phedoreanu commented on #54
Go for it, if you have the time and energy ;)

[2019-08-02 15:01] multani commented on #54
I'll give it a short [here](https://github.com/jenkinsci/nomad-plugin/compare/master...multani:remove-nested-cloud).

[2019-08-07 09:40] #54 closed

[2019-08-15 14:04] julian-haase opened #58 "Support Vault Integration"
Hey there, it would be great if this plugin also supports nomad vault integration https://www.nomadproject.io/docs/vault-integration/index.html and https://www.nomadproject.io/docs/job-specification/template.html#vault-kv-api-v1.
Unlike Jenkins Secrets, it allows you to retrieve Secrets at container runtime, without telling the Jenkins slave where to get the necessary Secrets for the upcoming buil

[2019-08-15 14:05] phedoreanu commented on #58
Hey @julian-haase

Feel free submit a PR, if you have time and energy!

[2019-09-24 14:00] miao1007 opened #59 "A swarm based way to create agent?"
Current: not atomic, the agent will be offline first and waits for JNLP to be online.

![](http://www.plantuml.com/plantuml/png/HP31QiCm343l-Wh1pji7930wTXbbb1uAEoknqgXBfCwMsui_VdPpwCss7duFxP9JzBmk06NF-YkQ2ZpUeBj6kqaIKoIysD13DqOcPxHfMaGPzuVl8we5hgEKXrKSwSpg6_tw_dKw7J7oN-RaU1UVsm03JwBaOjf3UVbGbmhypE9S3hPIAD1zDe_e-S77h5hFszTl5uhzCxLA6fB6cKDUEDIGEublPQEfyhY9kfQ9fgsxtkX6Yz2mC4uMcoNraDok03lMKDVn3m00)

p

[2019-12-16 21:27] peimanja opened #62 "Ability to set the cpu_hard_limit to true on slaves"
Right now there is no way to set the [`cpu_hard_limit`](https://www.nomadproject.io/docs/drivers/docker.html#cpu_hard_limit) in the slave templates. We have this issue that some slaves can consume the whole cpu power of the instance and affect other jobs.

[2020-03-03 15:18] ampc opened #63 "Permission error when running/replaying build"
Hi,
I'm having an issue when running or replaying builds with a user without admin privileges. The console output is the following: `‘Jenkins’ is reserved for jobs with matching label expression; ‘my_user’ lacks permission to run on ‘jenkins-1924614f36fcf3’` . `my_user` has all the permissions for the projects under the desired folder.

If I switch to admin user I can run it without any permission

[2020-09-18 10:45] SimonVleugels opened #66 "Problem adding ACL token"
I have jenkins deployed in a nomad cluster running with ACL enabled. For dynamic provisioning the jenkins slaves I'm required to add an ACL Token. In the cloud configuration I see that there is an option to add a token, but the drop-down menu is always empty. I can add a credential but what kind of credential should I use?

There is no documentation about using ACL.

[2020-09-18 10:53] jmartinspt commented on #66
You should use a "Secret text" credential.

[2020-09-18 17:21] SimonVleugels commented on #66
Thank you that was it.

[2020-09-18 17:21] #66 closed

[2020-09-25 08:18] paulh86 opened #67 "Support configuring certificates for the connection to nomad"
Hey,

in our nomad setup we need certificates to establish a connection to nomad. Therefore i need support to provide these certificates to the used http client. I also have an additional question regarding the implementation. Does anyone know why the [hashicorp nomad sdk](https://github.com/hashicorp/nomad-java-sdk) (because it provides the possibility to add certificates and keys) is not used?

[2020-10-13 06:52] SimonVleugels opened #68 "Casc configuration requires manual save after restart"
Hi,
I have a nomad cloud configuration setup with casc. The configuration works fine and is correctly filled in, but requires to manually save the configuration again every time jenkins restarts. If you don't do this Jenkins will keep trying to start new workers which keep failing with error: `This agent is offline because Jenkins failed to launch the agent process on it.`. There are no extra logs

[2020-11-02 15:35] josemaia commented on #58
PR submitted for this issue, #69

[2020-11-02 22:50] phedoreanu commented on #58
Merged. Thanks!

[2020-11-02 22:50] #58 closed

[2020-12-04 08:15] knorx commented on #68
Hey Simon,
I had the same Issue. In the Jenkins Log I found a Nullpointer Exception. I tracked it down to the VaultPolicies being null for some reason I did not fully comprehend. I fixed that issue in [Pullrequest 71](https://github.com/jenkinsci/nomad-plugin/pull/71), maybe you can try if this solves your issue as well. If you like I can also give you a compiled version for testing purposes.

[2020-12-04 12:29] phedoreanu commented on #68
#71 merged. Closing issue. Feel free to reopen.

[2020-12-04 12:29] #68 closed

[2020-12-08 12:41] SimonVleugels commented on #68
If it's not to much work, a compiled version will be wonderful. When can we expect a new release?

[2020-12-09 20:40] woodshop2300 opened #72 "Is spawing more then 1 slave broke or am i just doing it wrong?"
[code]
 I have been working my through getting this all up and running. I have things at the point that Jenkins can and does spawn my docker build slave when i queue a build. When the build is done, the slave is tore down after a time. So looks well and good.

I next added parameters to my Jenkins build so i could queue a bunch of those builds w/o Jenkins pruning them since they would otherwise be

[2021-02-11 16:51] gkoloventzos opened #74 "Nomad cloud is not listed in "Manage Nodes and Cloud""
Hello,

As I have not found anywhere else to ask (if you have any please send me links), I will post an issue that I have.
I am trying to set nomad with the Jenkins plugin but even though the cloud is found (from the jcasc.yaml) in "Configure clouds" page, it is not listed on the "Manage Nodes and Cloud" page.

I am running Jenkins version 2.263.3 with Nomad plugin 0.7.1
![managenodes](https://use

[2021-02-12 09:27] jmartinspt commented on #74
Hello.
The node will appears only when the nomad worker start. It's a dynamic node, not a static node. When you use nomad cloud, the node from template starts, run the pipeline/job and in the end is deleted.

[2021-02-12 09:42] gkoloventzos commented on #74
Thanks @jmartinspt! It seems counter-intuitive to me that the cloud as a whole will not be present on the list. I will see if my jobs will run.

I will close the ticket!

[2021-02-12 09:42] #74 closed

[2021-03-03 08:54] entasisj opened #75 "New release soon?"
Hi,

is there a chance to have a new release of this plugin soon?
We would like to install from official Jenkins source instead of building the plugin locally and installing the build result. I think other users might also be interested.

[2021-04-07 15:48] robichaud commented on #75
It would be greatly appreciated to get a new release soon!

[2021-04-07 15:53] erasmussen39 commented on #75
A new release with the fix for the Configure Clouds page would be hugely helpful.

[2021-04-23 14:32] multani commented on #75
(moving the discussion from #73 in here) I made the request to become a maintainer: https://groups.google.com/g/jenkinsci-dev/c/SlUkpR01b5c

[2021-04-26 10:05] multani commented on #75
I'll prepare a new release in the coming days (there's a slight issue with the current code that prevents this at the moment), I'll report back here :+1: .

[2021-04-26 11:22] multani commented on #75
[v0.7.4](https://github.com/jenkinsci/nomad-plugin/releases/tag/v0.7.4) is out :tada:

[2021-04-26 11:22] #75 closed

[2021-04-29 11:11] attachmentgenie opened #76 "Add support for agent.jar"
### Dependencies

Jenkins has deprecated the use of the word slave it seems in favor of the word agent. (See https://hub.docker.com/r/jenkins/agent.) This also means the target jar has changed names to agent.jar

### Feature Request

make the agent jar name configurable

[2021-04-29 11:13] attachmentgenie opened #77 "make agent.jar download optional"
### Feature Request

At the moment, it appears that the way the nomad (docker) job is started always tries to download the agent jar file. When using the upstream jenkins/agent image this isnt necessary

[2021-04-29 11:20] attachmentgenie opened #78 "cleanup wiki page"
### Feature Request

currently the wiki page and jenkins it self still warn about a csrf vulnerability, which seems to have been solved in #42. Our ciso is loosing hair over the notification

[2021-05-01 11:47] multani commented on #78
See https://github.com/jenkins-infra/update-center2/pull/515

[2021-05-01 11:47] #78 closed

[2021-05-01 18:27] attachmentgenie opened #79 "make this plugin show up in the list of cloud provider"
### Feature Request

Jenkins now has a admin function to add cloud workers, this seems to be based on some sort of label [1], the nomad plugin currently isnt tagged appropriately to show up in this list. Making sure the tag is available would make it easier for folks to find it

[1] http://jenkins.qa.vagrant/pluginManager/available?filter=Cloud+Providers

[2021-07-20 11:57] j3t commented on #77
We could add a toggle to the worker template which indicates whether the agent.jar is downloaded (default: true) but then we have to provide a possibility to adjust the command and args as well which is probably very confusing and error prone.

I would suggest to rework the whole worker-template so that a JSON job template can be specified and then we don't need to all the form fields at all. What

[2021-07-23 06:52] j3t commented on #72
I have experienced a similar behavior but this was related to my test setup.

If you have no workers running and you are starting a bunch of job execution in parallel then only one worker gets started and all jobs are waiting for the same executer.

I guess this behavior is related to Jenkins and how jobs are scheduled because when the jobs are not scheduled all at once then a new worker gets star

[2021-07-23 07:43] j3t opened #81 "Rework of worker template so that it is more flexible"
### Feature Request

I would like to rework the whole Worker Template. It contains a lot of fields (e.g. `CPU`, `Memory`) but there are still fields missing (e.g. `Env`, `Args`, `Command` and `Entrypoint`).

In my opinion, it would be more flexible when we just could define a job template and some placeholders. The default template could be like the following:
[code]
This also simplifies the plugi

[2021-07-25 09:27] multani commented on #81
As much as it would improve the flexibility, I see this:

As a real deal breaker.

I'm not sure if it's possible to reprogram the plugin to add 2 types of templates:

* The first one would be the original one, like it is today
* The second one would be something based on your proposition

This would provide a migration path, without breaking everything.
Another possibility would be to migrate the

[2021-07-26 16:02] j3t commented on #81
I like the possibility to migrate the template definitions. According to https://wiki.jenkins.io/display/JENKINS/Hint+on+retaining+backward+compatibility, we have to keep the old fields but we can mark them as transient and then they are not part of the configuration file anymore.

If you don't mind then I would like start with a PoC.

[2021-07-27 11:37] j3t commented on #81
The migration is straight forward and not an issue at all (see https://github.com/j3t/nomad-plugin/tree/feature-81-more-flexible-worker-template). I have the feeling that this could work without loosing backward compatibility.

[2021-07-27 11:58] multani commented on #81
@j3t Glad to hear! Can you open a draft pull request with your changes? I may have some time at the end of the week to give it a look :+1:

[2021-07-27 12:13] j3t commented on #81
@multani Thanks! https://github.com/jenkinsci/nomad-plugin/pull/82

[2021-09-04 15:42] #67 closed

[2021-10-27 19:28] jdelee opened #102 "Removal of Workspace root option causes fallback to system wide default"
Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

In release 0.8.0 `Workspace root` was used to specify the value of `-workDir` executed by the slave/agent.jar, but it also modified the `remoteFS` property for the node affecting the location of the workspace on the remote system.

With the removal

[2021-10-30 18:22] #102 closed

[2021-10-30 18:31] multani commented on #102
@jdelee I merged and release @j3t fix in [v0.9.1](https://github.com/jenkinsci/nomad-plugin/releases/tag/v0.9.1): you should be able to configure the root workspace again and reuse it in the template via the `%WORKER_DIR%` template variable.

[2021-10-30 18:54] multani commented on #77
https://github.com/jenkinsci/nomad-plugin/pull/82 revamped the way jobs are submitted and they are now fully customizable: downloading the JAR agent can be optional now.

[2021-10-30 18:54] #77 closed

[2021-10-30 18:55] multani commented on #76
#82 (v0.9+) makes it possible to use `agent.jar` instead of `slave.jar`.

[2021-10-30 18:55] #76 closed

[2021-10-30 19:06] multani commented on #79
I followed https://www.jenkins.io/doc/developer/publishing/documentation/#labeling-plugins to relabel the repository and added the `cloud` label, this should mark the plugin as being a "Cloud Provider", at some point (I'm not sure when the update-center gets updated.)

[2021-10-30 19:06] #79 closed

[2021-10-30 19:06] multani commented on #62
#81 (v0.9+) should give access to all the Nomad job settings now.

[2021-10-30 19:06] #62 closed

[2021-10-30 19:09] multani commented on #26
#82 (v0.9+) makes the Nomad job completely configurable, it should now be possible to pass arbitrary Java arguments when a job is submitted.

[2021-10-30 19:09] #26 closed

[2021-10-30 19:11] multani commented on #22
#82 (v0.9+) removed most of the fields and it's not possible to not set the datacenter field anymore.

We should probably check that all the fields are correctly parsed anyway.

[2021-10-30 19:11] #22 closed

[2021-11-02 09:29] j3t opened #107 "Allow to define job templates in HCL2"
Usually Jobs in Nomad are defined by using HCL2 but the plugin only accepts JSON for job templates at the moment. This means that existing scripts have to be converted into JSON before they can be used with the plugin.

It would be really nice when the plugin would also accept HCL2 directly. This could be solved if the Job Template Form from the configuration page would accept both (JSON and HCL2)

[2021-11-02 16:02] attachmentgenie commented on #79
While testing 0.9.1 shows up correctly in the list of cloud providers, thanks!

[2021-11-10 17:20] seanennis opened #111 "Issue migrating worker template from 0.6.10 to 0.9.1"
Hey I'm sorry if opening an issue wasn't the best was to go about asking this, but I wasn't sure where else to ask.

So the upgrade from 0.6.10 to 0.9.1 lost my config and I've been trying to translate the old config into the new format by hand. I have a working template using the default docker task driver config, though when I try to use the java driver I'm having some issues. It seems in the ol

[2021-11-10 17:24] multani commented on #111
@seanennis Can you share the whole task configuration?

There should be a `Artifact` definition somewhere, that downloads the `slave.jar` file from Jenkins and put it in `/local/slave.jar`.

[2021-11-10 17:28] multani commented on #111
[Something like this](https://github.com/jenkinsci/nomad-plugin/blob/1e71cf3753e0af178d40f0c7fa09bcbff55e8ed1/src/test/resources/config/0.9.0/java.xml#L76-L80):

[code]
At the same level as `Config`. You will need to adjust the `GetterSource` value to point to your Jenkins URL.

[2021-11-10 18:02] seanennis commented on #111
@multani That was a very quick reply, thank you. That seems to have fixed it!

[2021-11-16 21:55] #107 closed

[2022-09-24 17:05] Lord-Y opened #158 "Possibility to have repository name and commit id in template"
### What feature do you want to see added?

Hello guys,

Can we have the possibility to have the REPOSITORY_NAME with will be the repository (example: for `git@github.com:jenkinsci/nomad-plugin.git` it will be nomad-plugin) and the commit id?
These 2 parameters will be optional.

I want to be able to have 2 tasks in the same job like so:
[code]

The idea is to be able to execute some tasks on spec

[2022-09-24 17:45] j3t commented on #158
Hi @Lord-Y, you can define as many tasks as you want but only one task can be the jenkins agent where actual job is executed. `JENKINS_AGENT_NAME` and `JENKINS_SECRET` are unique to one single jenkins agent.

Besides that, maybe you can elaborate more about what you want to achieve and I guess an example `JenkinsFile` would also be helpful.

[2022-09-24 18:39] Lord-Y commented on #158
@j3t Thx for your reply. Effectively I saw that my 2e task is not register against jenkins master with a job like:

[code]
With the following error on master:
[code]

Here is a sample of my `Jenkinsfile` :
[code]

[2022-09-25 07:32] j3t commented on #158
I still don't understand what you are trying to achieve but if you need different jenkins agents then you have to define different nomad templates.

[2022-09-25 08:41] Lord-Y commented on #158
@j3t Defining a new template with a label made the job. Thx a lot for your help.

[2022-09-25 08:41] #158 closed

[2022-10-20 11:05] Kamilcuk opened #161 "Get jenkins URL dynamically"
### What feature do you want to see added?

Please add two new template parameters: `%JENKINS_URL%` and `%JENKINS_TUNNEL%` that will be replaced by `jenkins.getRootUrl()` and by `new URL(jenkins.getRootUrl()).getHost() + ":50000"` respectively.

Jenkins already knows the URL, there is no need to fill it manually. This would enhance portability of templates between our multiple Jenkins instances.

[2022-10-20 18:19] j3t commented on #161
`jenkins.getRootUrl()` can be empty. The tunnel host is not necessarily the same as `new URL(jenkins.getRootUrl()).getHost()` and the port could also be anything (e.g. Jenkins runs behind a load balancer, reverse proxy, etc.).

What is your use case?  Is [CaaS](https://plugins.jenkins.io/configuration-as-code/) not an option?

[2022-10-21 13:54] #161 closed